
{{ (component + ' sub-pages') | trim | title }}
{{ '-' * ((component + ' sub-pages') | length) }}

.. toctree::
   :maxdepth: 1

{% for page in toc -%}
  {{ page | trim | indent(3, first=True) }}
{% endfor %}
